* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.header {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #201B2C;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0 10px #201B2C;
    z-index: 99;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #F9C5BA;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon img {
    width: 30px;
    cursor: pointer;
}

.nav-icon img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: #F9C5BA;
    margin-right: 1.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #F9C5BA;
}

nav ul li:hover {
    transform: translate(3px, -1px);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.menu-button {
    display: none;
}

.seja-bem-vindo{
    padding: 20px;
}

.seja-bem-vindo img{
    margin: 50px;
}


.carrossel {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    margin-right: 25px;
    margin-top: -600px;
}

.imagens {
    display: flex;
    transition: transform 0.7s ease; 
}
.imagens img {
    width: 100%;
    max-width: 500px;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Coloca os botões acima das imagens */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .carrossel{
        width: 200px;
        margin-right: 10px;
        margin-top: 0;
    }
}

/* Button styles */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .5s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #F9C5BA;
}

.button:hover .button__icon-wrapper {
    color: #F9C5BA;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform .5s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform .5s ease-in-out .1s;
    transform: translate(0);
}

/* Header Background */
header {
    background-image: radial-gradient(#F9C5BA, #fda594);
}

.header-button-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-button-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-button-side-left h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.header-button-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 500px;
}

.header-button-side-right {
    margin-top: 10px;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #0f172a;
    border-radius: 4px;
    box-shadow: 7px 7px 7px 7px rgb(239, 130, 148);
}

.header-button-side-right img {
    width: 100%;
}

/* Media Queries (Mobile Layout) */
@media (max-width: 768px) {
    .logo {
        font-size: 1.2rem;
    }
    .header-button-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav ul {
        display: none;
        flex-direction: column; 
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #201B2C; 
        z-index: 99;
    }

    nav ul.show-menu {
        display: flex;
    }
    
    .menu-button {
        display: block;
    }
    .navbar.show-menu nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #201B2C;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem;
    }
    nav ul li {
        margin: 1rem 0;
        text-align: center;
    }

    button {
        padding: 5px;
        font-size: 18px;
    }

}

@media (min-width: 769px) {
    .menu-button {
        display: none;
    }
}

/* Main Styles */
main {
    background-color: #F9C5BA;
}

.gray-background {
    background-color: #201B2C;
    padding: 2rem 0;
}

.page-inner {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 7rem 4rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img,
.cols-4 img {
    max-width: 100%;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols > * {
    cursor: pointer;
    transition: all 0.2s;
}

.cols > *:hover {
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background-color: #201B2C;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #201B2C;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: #0f172a;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
}

@media (min-width: 769px){
    .product{
        align-items: center;
        justify-content: center;
    }
}

.cupom{
    font-weight: 600;
    margin-top: 0.4rem;
    text-align: center;
}

.happy{
    justify-content: space-around;
    align-items: center;
}

.happy img{
    margin-top: 10px;
}